@font-face {
  font-family: 'AURUM';
  src: url('@/assets/AURUM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CHUNKY';
  src: url('@/assets/CHUNKY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}